/build_local/
/build_production/
/cache/
/torchlight_cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
npm-debug.log
.env

# Optional ignores
# /build_staging/
# /build_production/
# /source/assets/build/
