@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "../../../vendor/tempest/highlight/src/Themes/Css/tokyo-night.css";

/** Text Selection */

::-moz-selection { @apply bg-yellow-100; }
::selection { @apply bg-yellow-100; }

/** Code Selection */

pre ::-moz-selection { @apply bg-blue-600; }
pre ::selection { @apply bg-blue-600; }

/** Code Blocks */

pre:has(> code) {
    @apply rounded-lg p-4 overflow-x-auto text-sm;
}

*:not(pre) > code {
    @apply bg-gray-300/40 shadow-xs rounded px-1 mx-1 py-0.5 -my-0.5 text-black/80;
}

*:not(pre) > code::before,
*:not(pre) > code::after {
    content: '' !important;
}

.embed-responsive {
    @apply w-full;
}

.embed-responsive iframe {
    @apply object-contain w-full;
    aspect-ratio: 16 / 9;
}

.post-card:hover {
    transform: rotate(1deg) translateY(-.2em);
}
