<div class="max-w-5xl mx-auto relative mt-16 content">
    {{ svg src="/assets/site/scratches" class="absolute text-gray-800 mt-8 top-0 left-0 w-20 hidden md:block" }}

    <article class="lg:pt-32 lg:pb-20 max-w-2xl mx-auto">
        <h1>{{ title }}</h1>
        <div class="bg-gray-800 inline-block text-sm mb-16 pr-4 pl-16 -ml-16 uppercase tracking-widest text-white py-1 rounded-r-full">
            <span>Last updated</span>
            <span>on {{ date format="M j, Y" }}</span>
        </div>
        <div class="content no-first-item-big">
            {{ content | widont }}
        </div>
    </article>

    <section class="lg:pt-20 lg:pb-20 bg-teal rounded text-white">
        <div class="max-w-2xl mx-auto">
            <h2 class="text-4xl font-bold">What you will learn</h2>
            <div>
                {{ videos }}
                    {{ partial src="sets/{type}_set" }}
                {{ /videos }}
            </div>
        </div>
    </section>
</div>
